body
{
    margin: 0 auto;
	max-width:1980px;
}
a{
    text-decoration: none;
    color: red;
}

#shop-link {
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 25px;
    padding: 15px;
}

#shop-link:hover
{
    transform: scale(1.05);
}

#shop-link:active
{
    transform: scale(1.15);
}

.logo
{
    display: flex;
    align-items: center;
}

.logo img
{
    width: 50px;
    height: 50px;
}

header
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #30d4eb; 
   padding: 30px;
   color: white;
}
.authorization{
	margin-right:30px;
}
.authorization a{
	padding: 20px;
	color:white;
	font-size:16pt;
	margin-left:50px;
}
.authorization a:hover{
	color:orange;
	font-weight:bold;
	
	transform: scale(1.1);
}
.video-background {
    position: relative;
    width: 100%;
    height:1200px;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
   
}

.overlay-content {
    
    display:flex;
    flex-direction: column;
    align-items: center;
	text-align:center;
    gap:50px;
	color:white;
	padding:20%;
    font-size:24pt;
	font-weight:bold;
    position: relative;
    z-index: 1;
}
.about_us{
	display:flex;
	padding:50px 10%;
	font-size:16pt;
}

#drone{
	width:800px;
}
hr{
	width:80%;
}
.how_works{
	padding:50px 10%;
	font-size:16pt;
}
.stages{
	display:grid;
	grid-template-columns:repeat(3,1fr);
}
.stage{
	padding-right:20px;
	text-align:justify;
}
.why_drones{
	padding:50px 10%;
	font-size:16pt;
}
footer{
	background-color:#7b3939;
	padding:10px 10%;
	color:white;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
	width:40px;
	height:40px;
	margin-right:20px;
	border-radius:10px;
	background-color:white;
}
.icon:hover{
	transform: scale(1.1);
}
.sl
{
    display: flex;
    gap: 10px;
}

.primg
{
    width: 150px;
    height: 150px;
}

/*shop!!!! ты пидор*/
.main
{
    display: flex;
}

.pr
{
    display: flex;
    gap:50px;
}
.product-list {
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--porto-grid-gutter-width, 20px);
}

.product-item {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}
.product-item:hover
{
    transform: scale(1.05);
}
.add-to-cart-btn {
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    border: none; /* Без рамки */
    padding: 10px 15px; /* Отступы */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Без подчеркивания */
    display: inline-block; /* Отображение как строчный блок */
    margin-top: 10px; /* Отступ сверху */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.add-to-cart-btn:hover {
    background-color: #45a049; /* Темнее зеленый при наведении */
}



.shop-container {
    display: flex;
}

.category-sidebar {
    width: 20%;
    padding: 20px;
}

.product-list {
    width: 80%;
    padding: 20px;
}

.category-sidebar ul {
    list-style: none;
    padding: 0;
}

.category-sidebar ul li {
    margin-bottom: 10px;
}

.category-sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.category-sidebar ul li a:hover {
    text-decoration: underline;
}
.cartshop{
float: right;
}

#card-errors
{
    color: red;
}
