html {
    scroll-behavior: smooth;
}

body
{
    margin: 0 auto;
	max-width:1980px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style-type:none;
}
/*Подсветка активной категории */
a.active {
    font-weight: bold;
}

/* Плавный переход */
a {
    transition: color 0.3s, text-decoration 0.3s;
}


#shop-link {
    color: white;
    font-weight: bold;
    background: radial-gradient(red,100%, black);
    border-radius: 25px;
    box-shadow: 0 5px 0 #430000;
    padding: 15px;

}

#shop-link:hover
{
    transform: scale(1.05);
}

#shop-link:active
{
    transform: scale(1.15);
}

.logo, .logo a
{
    display: flex;
    align-items: center;
	color: white;
}

.logo img
{
    width: 50px;
    height: 50px;
}

header
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #30d4eb;
   padding: 10px 30px;
   color: white;
}
.authorization{
	margin-right:30px;
}
.authorization a{
	vertical-align: middle;
	color:white;
	font-size:16pt;
	margin-left:50px;
}
.authorization a:hover{
	color:orange;

}
.video-background {
    position: relative;
    width: 100%;
    height:1200px;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
   
}

.overlay-content {
    display:flex;
    flex-direction: column;
    align-items: center;
	text-align:center;
    gap:50px;
	color:white;
	padding:20%;
    font-size:24pt;
	font-weight:bold;
    position: relative;
    z-index: 1;
}
.about_us{
	display:flex;
	padding:50px 10%;
	font-size:16pt;
}

#drone{
	width:800px;
}
@media(max-width: 1024px){
	.about_us{
	display:flex;
	flex-direction:column;
	justify-content:center;
	}
	#drone{
		width:80%;
	}
}
hr{
	width:80%;
}
.how_works{
	padding:50px 10%;
	font-size:16pt;
}

.stages{
	display:grid;
	grid-template-columns:repeat(3,1fr);
}
@media(max-width: 1024px){
	.stages{
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}
}
.stage{
	padding-right:20px;
	text-align:justify;
}
.why_drones{
	padding:50px 10%;
	font-size:16pt;
}
footer{
    background: #a70f0f;
	padding:10px 10%;
	color:white;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
	width:40px;
	height:40px;
	margin-right:20px;
	border-radius:10px;
	background-color:white;
}
.icon:hover{
	transform: scale(1.1);
}

.sl
{
    display: flex;
    gap: 10px;
    align-items:center;
}

.primg
{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(4, 74, 130);
}

.cart{
	width: 30px;
   	height: 30px;
	padding:10px;
	border-radius:15px;
}

.cart:hover{
	transform:scale(1.15);
}
#cart-count{
    background-color:white;
    color: black;
    font-size:8pt;
    padding:5px;
    border-radius:100%;
    margin-left:-20px;
    margin-top:-30px;
}
.main
{
    display: flex;
}
.main h1
{
    font-size:18pt;
}
.shop-container {
    display: flex;
}

.category-sidebar {
    width: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:#f4eded;
}
.category-sidebar ul {
    list-style: none;
    padding: 0;
}

.category-sidebar ul li {
    margin-bottom: 10px;
}

.category-sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.category-sidebar ul li a:hover {
    text-decoration: underline;
}

@media(max-width: 1900px)
{
    .category-sidebar
    {
        width: 10%;
    }
}

@media(max-width: 1700px)
{
    .category-sidebar
    {
        width: 20%;
    }
}

.product-list {
    width: 100%;
    padding: 20px;

}
.pr
{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-column-gap: 3%;
    grid-row-gap: 50px;
}

@media(max-width: 1600px){
	.pr{
        grid-template-columns:repeat(3,1fr);
    }
}
@media(max-width: 1080px){
	.pr{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(max-width: 800px){
	.pr{
        grid-template-columns:1fr;
    }
}
.product-item {
    border: 1px solid #ccc;
    width:100%;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    gap:10px;
    background-color:#f4eded;
    border-radius:20px;
}
.product-item h2 a{
    color:black;
}

.add-to-cart-btn,.make-order-btn {
    width:80%;
    height: 50px;
    font-weight: 600;
    background: radial-gradient(#27a22c, 80%, #0b2e06);
    color: white;
    border: none;
    border-radius:15px;
    padding: 8px 10px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 5px 0 #0fa801;
}

.add-to-cart-btn:hover,.make-order-btn:hover {
    background-color: #45a049;
    box-shadow: none;
    position: relative;
    top: 2px;
    transform: scale(1.05);
    cursor:pointer;
}
.add-to-cart-btn:active
{

}

 /* Информация о товаре */
.back-to-shop{
    background:#f4eded;
    padding:10px 30px;
}
.back-to-shop a{
    color:#a82d2d;
}
.product-description{
    width:60%;
    border:1px solid black;
    margin:20px auto;
    border-radius:15px;
    border: 1px solid #ccc;
    padding:20px;
    display:flex;
    gap:30px;
}
.product-description img{
    width:60%;
    height:400px;
}
/* Вход в аккаунт, регистрация аккаунта*/
.signin-form,.signup-form,.cart-details,.profile-form,.order,.confirmation,.empty_cart{
    width:40%;
    border-radius:15px;
    border: 1px solid #ccc;
    padding:10px 20px;
    margin:30px auto;
    font-size:18pt;
}
.signin-form input,.signup-form input{
    width:100%;
    height:50px;
    font-size:18pt;

}
.signin-form button,.signup-form button,.logout{
    width:101%;
    height:60px;
    font-size:16pt;
    padding:5px;
    margin-top:20px;
    background-color:black;
    color:white;
    border:none;
}
.signin-form button:hover,.signup-form button:hover,.logout:hover{
    background-color:#d55c03;
    cursor:pointer;
    transition: background-color 0.3s;
}
.signup-form input[type="radio"]{
    width:5%;
    height:5%;
    margin-bottom:20px;
}
.signup-form ul{
    font-size:10pt;
    margin-top:-20px;
}

/*Содержимое корзины*/
.cart-details{
    display:flex;
    gap:40px;
    width:80%;
}

.cart-details h1,.cart-details p{
    margin-left:7%;
}
.make-order-btn
{
    height:50px;
    margin-left:7%;
}


.quantity-buttons
{
    display: flex;
    gap:20px;
    padding-bottom:20px;
}
.btn-minus,.btn-plus{
    width:25px;
    height:25px;
    border:1px solid black;
    border-radius:100%;
    color:white;
}
.btn-plus{
    background: #27a22c;
}
.btn-plus:hover,.btn-minus:hover{
    cursor:pointer;
    transition: background-color 0.3s;
    top: 2px;
    transform: scale(1.05);
}
.btn-minus{
    background:red;
}

.cart-item{
    display:flex;
    gap:50px;
    font-size:14pt;
    margin:20px 50px;
    width:100%;
}
.cart-item p{
    margin-left:0px;
}
.cart-item img{
    width:50%;
    height:250px;
}
.delete-btn{
    width:100%;
    height:50px;
    font-weight: 600;
    color:white;
    border-radius:20px;
    background: radial-gradient(red,80%, black);
    border:none;
    box-shadow: 0 5px 0 #430000;
}
.delete-btn:hover{
    box-shadow: none;
    position: relative;
    top: 2px;
    transform: scale(1.05);
    cursor:pointer;
}
.out-of-stock {
    color: red;
    font-weight: bold;
}

.error {
    color: crimson;
    font-weight: bold;
    margin-top: 20px;
}

.total-cost{
    padding-top:8%;
    width:30%;
}
@media(max-width:800px){
    .cart-details{
          flex-direction:column;
    }
    .cart-item{
        flex-direction:column;

    }
    .cart-item img{
        width:80%;
        height:250px;
    }
    .delete-btn{
        width:85%;
    }
    .total-cost{
        padding-top:5%;
        width:100%;
    }
}
.sad-cart{
    width:100%;
}
/* Оформление заказа */
.order{
    display:flex;
    gap:50px;
    width:80%;
}
.order h1{
    font-size:24pt;
}
.location-info{
    padding:10px;
}
.location-info input{
    width:100%;
    height:50px;
    margin:20px 0;
}
#card-errors
{
    color: red;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th, td {
        width: 100%;
    }
}
